# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\www\chat-multicast-java-germano-carlos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
